<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="jss-app-react"
             deploymentSecret="klec6cshkpb34abgdyvfd0dgoisglkd96c6pqjtrg6ua"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
